/DoRegisterPartner.class
/DoShowAllPartners.class
/DoShowPartner.class
/DoShowPartnerAcquisitions.class
/DoShowPartnerSales.class
/DoToggleProductNotifications.class
/Label.class
/Menu.class
/Message.class
