/DoReceivePayment.class
/DoRegisterAcquisitionTransaction.class
/DoRegisterBreakdownTransaction.class
/DoRegisterSaleTransaction.class
/DoShowTransaction.class
/Label.class
/Menu.class
/Message.class
